{
  "log-level": "{{ lookup('ansible.builtin.env', "LOG_LEVEL") }}",
  "ditto": {
    "app-id": "{{ lookup('ansible.builtin.env', "APP_ID") }}",
    "app-token": "{{ lookup('ansible.builtin.env', "APP_TOKEN") }}",
    "shared-key": "{{ lookup('ansible.builtin.env', "SHARED_KEY") }}",
    "offline-token": "{{ lookup('ansible.builtin.env', "OFFLINE_TOKEN") }}",
    "use-cloud": "{{ lookup('ansible.builtin.env', "USE_CLOUD") }}",
    "use-lan": "{{ lookup('ansible.builtin.env', "USE_LAN") }}",
    "use-ble": "{{ lookup('ansible.builtin.env', "USE_BLE") }}",
    "bpa-url": "{{ lookup('ansible.builtin.env', "BPA_URL") }}"
  }
}

